*.pdb 
*.exe 
*.json 
.vs
Debug/
DebugPublic/
Release/
Releases/
x64/
x86/
build/
bld/
Bin/
bin/
Obj/
obj/
*.cache
*.txt
*.txt
Reportes/obj/Debug/Reportes.csproj.FileListAbsolute.txt
Controles/obj/Debug/Controles.csproj.FileListAbsolute.txt
Estadisticas/obj/Debug/Estadisticas.csproj.FileListAbsolute.txt
Entidades/obj/Debug/Entidades.csproj.FileListAbsolute.txt
Datos/obj/Debug/Datos.csproj.FileListAbsolute.txt
myExplorer/obj/x86/Debug/myExplorer.csproj.FileListAbsolute.txt
